*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2 {
  margin: 0; }

p {
  margin: 0; }

dl, dd {
  margin: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  padding: 0 16px;
  max-width: 100%; }
  @media (min-width: 1200px) {
    .wrapper {
      padding: 0 60px;
      margin: 0 auto; } }
  @media (min-width: 1440px) {
    .wrapper {
      width: 1440px; } }

.page {
  font-family: "Work Sans", "Arial, sans-serif";
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
  color: #5B6E76; }

.page__body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px; }

.page-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100; }
  @media (min-width: 1200px) and (max-width: 1440px) {
    .page-header {
      margin: 0; } }

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  box-shadow: none; }

.page-header__logo {
  width: 97px;
  height: 26px; }
  @media (min-width: 1100px) {
    .page-header__logo {
      width: 194px;
      height: 51px; } }

.page-header__logo img {
  width: 97px;
  height: 26px; }
  @media (min-width: 1100px) {
    .page-header__logo img {
      width: 194px;
      height: 51px; } }

.main-nav {
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    .main-nav {
      flex-flow: wrap row;
      justify-content: space-between;
      align-items: center;
      min-height: 99px; } }

.main-nav__link {
  font-size: 20px;
  line-height: 23px;
  color: #142B35; }
  @media (min-width: 900px) {
    .main-nav__link {
      font-size: 16px;
      line-height: 19px; } }

.main-nav__info {
  align-self: center;
  margin-bottom: 32px;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 20px;
  background-color: #3A98B2;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in; }
  .main-nav__info:hover {
    background-color: #328BA4; }
  @media (min-width: 900px) {
    .main-nav__info {
      margin-bottom: 0; } }
  @media (min-width: 1440px) {
    .main-nav__info {
      display: inline; } }

@media (min-width: 5px) and (max-width: 900px) {
  .main-nav__phone::before {
    content: '';
    position: absolute;
    right: 60px;
    top: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/phone.svg);
    background-repeat: no-repeat; } }

@media (min-width: 900px) and (max-width: 1000px) {
  .main-nav__phone {
    padding-left: 16px;
    position: relative; }
    .main-nav__phone::before {
      content: '';
      position: absolute;
      top: -9px;
      left: 0;
      width: 17px;
      height: 17px;
      background-image: url(../img/icons/phone.svg);
      background-repeat: no-repeat;
      background-size: 17px 17px; } }

@media (min-width: 1200px) {
  .main-nav__phone {
    padding-left: 58px;
    border-left: 1px solid #E0E0E0;
    position: relative; }
    .main-nav__phone::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 24px;
      width: 17px;
      height: 17px;
      background-image: url(../img/icons/phone.svg);
      background-repeat: no-repeat;
      background-size: 17px 17px; } }

.main-nav__number {
  display: none;
  font-size: 16px;
  line-height: 19px;
  color: #142B35; }
  @media (min-width: 1000px) {
    .main-nav__number {
      display: inline; } }

.main-nav__toogle {
  position: relative;
  background-color: transparent;
  width: 30px;
  height: 17px;
  border: none; }
  @media (min-width: 900px) {
    .main-nav__toogle {
      display: none; } }

@media (min-width: 5px) and (max-width: 900px) {
  .main-nav--closed .main-nav__list {
    display: none;
    padding-top: 56px;
    padding-bottom: 120px; }
  .main-nav--closed .main-nav__info {
    display: none; } }

@media (min-width: 5px) and (max-width: 900px) {
  .main-nav--opened .main-nav__list {
    display: block;
    padding-top: 56px;
    padding-bottom: 120px; }
  .main-nav--opened .main-nav__info {
    display: inline-block; }
  .main-nav--opened .page-header__container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02); } }

.main-nav--opened .main-nav__toogle::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 26px;
  top: -10px;
  right: 0;
  cursor: pointer;
  background-image: url(../img/icons/burger-open.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.main-nav--closed .main-nav__toogle::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 17px;
  top: -6px;
  right: 0;
  cursor: pointer;
  background-image: url(../img/icons/burger-close.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.main-nav--nojs .main-nav__toggle {
  display: none; }

.main-nav--nojs .main-nav__list {
  display: block; }

@media (min-width: 900px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 571px; } }

.main-nav__item:not(:last-child) {
  margin-bottom: 24px; }
  @media (min-width: 900px) {
    .main-nav__item:not(:last-child) {
      margin-right: 32px;
      margin-bottom: 0; } }

.main__title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 27px;
  color: #142B35; }

.main__slogan {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: #738697; }

.main__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #5B6E76; }
  @media (min-width: 900px) {
    .main__description {
      font-size: 16px;
      line-height: 27px; } }

.about__wrapper {
  padding-bottom: 40px;
  border-top: 1px solid transparent;
  background-image: url(../img/picture/promo.png);
  background-repeat: no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .about__wrapper {
      background-image: url(../img/picture/promo2x.png); } }
  @media (min-width: 900px) {
    .about__wrapper {
      padding-bottom: 120px;
      background-image: url(../img/picture/promo-desktop.png);
      background-repeat: no-repeat;
      background-size: cover; } }
  @media (min-width: 900px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 900px) and (min-resolution: 2dppx) {
    .about__wrapper {
      background-image: url(../img/picture/promo-desktop2x.png); } }

.about__title {
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  margin-top: 200px;
  margin-bottom: 15px;
  padding-left: 8px;
  border-left: 2px solid #F2B91D; }
  @media (min-width: 900px) {
    .about__title {
      margin-top: 350px;
      padding-right: 40px;
      font-size: 40px;
      line-height: 47px;
      text-transform: capitalize; } }

.about__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #ffffff; }
  @media (min-width: 900px) {
    .about__text {
      padding-right: 40px;
      font-size: 16px;
      line-height: 27px; } }

.features__container {
  display: grid;
  padding: 40px 0 32px 0;
  text-align: center; }
  @media (min-width: 900px) {
    .features__container {
      padding: 80px 0 40px 0; } }

.features__title {
  order: 2;
  margin-bottom: 16px; }
  @media (min-width: 900px) {
    .features__title {
      font-size: 32px;
      line-height: 54px; } }

.features__slogan {
  order: 1;
  margin-bottom: 8px; }

.features__description {
  order: 3; }

.features__controls {
  padding-bottom: 40px; }

.services-list {
  margin-bottom: 32px; }
  @media (min-width: 900px) {
    .services-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px; } }

.services-list__item {
  text-align: center;
  padding: 88px 23px 32px 23px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 12px rgba(71, 71, 71, 0.03); }
  .services-list__item:hover .services-list__title {
    color: #3A98B2;
    transition: color 0.4s ease-out; }
  .services-list__item::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px; }
    @media (min-width: 900px) {
      .services-list__item::before {
        width: 88px;
        height: 88px;
        top: 56px;
        background-size: 88px 88px; } }
  .services-list__item--car::before {
    background-image: url(../img/icons/people-icon.svg); }
  .services-list__item--three-box::before {
    background-image: url(../img/icons/icon-threebox.svg); }
  .services-list__item--open-box::before {
    background-image: url(../img/icons/icon-box.svg); }
  .services-list__item--sofa::before {
    background-image: url(../img/icons/icon-sofa.svg); }
  .services-list__item--map::before {
    background-image: url(../img/icons/icon-map.svg); }
  .services-list__item--garage::before {
    background-image: url(../img/icons/icon-garage.svg); }
  .services-list__item:not(:first-child) {
    display: none; }
    @media (min-width: 500px) {
      .services-list__item:not(:first-child) {
        display: flex; } }
  @media (min-width: 900px) {
    .services-list__item {
      font-size: 16px;
      line-height: 27px; } }
  @media (min-width: 900px) {
    .services-list__item {
      padding: 168px 60px 55px 60px;
      max-width: 430px; } }

.services-list__title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #142B35;
  margin-bottom: 16px; }
  @media (min-width: 900px) {
    .services-list__title {
      font-size: 18px;
      line-height: 30px; } }

.services-list__text {
  font-size: 14px;
  line-height: 22px;
  color: #5B6E76; }
  @media (min-width: 900px) {
    .services-list__text {
      font-size: 16px;
      line-height: 27px; } }

@media (min-width: 900px) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 548px; } }

.contacts__wrapper {
  margin-bottom: 40px; }

.contacts__info {
  padding-top: 40px;
  margin-bottom: 32px; }
  @media (min-width: 900px) {
    .contacts__info {
      margin-bottom: 0;
      padding: 198px 0; } }

.contacts__container {
  display: grid;
  margin-bottom: 32px; }
  @media (min-width: 900px) {
    .contacts__container {
      margin-bottom: 40px; } }

.contacts__title {
  order: 2;
  margin-bottom: 16px;
  line-height: 31px; }
  @media (min-width: 900px) {
    .contacts__title {
      font-size: 24px;
      line-height: 38px; } }

.contacts__slogan {
  order: 1;
  margin-bottom: 8px; }

.contacts__description {
  order: 3; }

.contacts__item {
  padding-left: 29px;
  position: relative;
  font-size: 14px;
  line-height: 23px;
  color: #142B35; }
  @media (min-width: 900px) {
    .contacts__item {
      padding-left: 40px; } }
  .contacts__item a {
    color: inherit; }
  .contacts__item::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 4px; }
    @media (min-width: 900px) {
      .contacts__item::before {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        top: 0; } }
  .contacts__item--pin::before {
    background-image: url(../img/icons/location-pin.svg); }
  .contacts__item--phone::before {
    background-image: url(../img/icons/phone-blue.svg); }
  .contacts__item:not(:last-child) {
    margin-bottom: 16px; }

.form {
  box-shadow: 1px 1px 12px rgba(71, 71, 71, 0.06);
  border-radius: 5px;
  padding: 24px; }
  @media (min-width: 900px) {
    .form {
      padding: 56px; } }

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px; }

.form__legend {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #142B35;
  margin-bottom: 32px; }
  @media (min-width: 900px) {
    .form__legend {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 40px; } }

@media (min-width: 900px) {
  .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 12px; } }

.form__item:not(:last-child) {
  margin-bottom: 16px; }
  @media (min-width: 900px) {
    .form__item:not(:last-child) {
      margin-bottom: 0; } }

@media (min-width: 900px) {
  .form__item--email {
    grid-column: 1/3; } }

@media (min-width: 900px) {
  .form__item--textarea {
    grid-column: 1/3; } }

.form__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5B6E76; }
  .form__label--color {
    color: #F2B91D; }

.form__input {
  margin-top: 8px;
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 12px 13px 12px 16px; }
  .form__input::-moz-placeholder {
    color: #E0E0E0;
    opacity: 1;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in; }
  .form__input::placeholder {
    color: #E0E0E0;
    opacity: 1;
    transition: opacity 0.3s ease-in; }
  .form__input:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in; }
  .form__input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease-in; }

.form__button {
  background: #F2B91D;
  padding: 14px 0;
  border-radius: 5px;
  color: #ffffff;
  width: 100%;
  border: none;
  transition: background-color 0.3s ease-in;
  cursor: pointer; }
  .form__button:hover {
    background-color: #ECB51D; }
  @media (min-width: 900px) {
    .form__button {
      max-width: 105px;
      padding: 14px;
      margin: 0 auto;
      display: block;
      font-size: 16px;
      line-height: 19px; } }

.blog__wrapper {
  padding-top: 40px;
  padding-bottom: 80px; }
  @media (min-width: 900px) {
    .blog__wrapper {
      padding-top: 80px; } }

.blog__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  align-items: flex-start; }
  @media (min-width: 900px) {
    .blog__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
      margin-bottom: 40px; } }

.blog__heading {
  order: 2;
  margin-bottom: 32px; }
  @media (min-width: 900px) {
    .blog__heading {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: flex-start;
      align-self: flex-end;
      margin-bottom: 0; } }

.blog__tag {
  order: 1;
  margin-bottom: 8px; }
  @media (min-width: 900px) {
    .blog__tag {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: flex-start;
      margin-bottom: 0; } }

.blog__link {
  order: 3;
  font-size: 16px;
  line-height: 19px;
  color: #3A98B2;
  border: 1px solid #3A98B2;
  border-radius: 5px;
  padding: 13px 13px;
  display: inline-block;
  text-align: center;
  min-width: 110px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in-out; }
  .blog__link:hover {
    background-color: #3A98B2;
    color: #ffffff; }
  @media (min-width: 900px) {
    .blog__link {
      grid-column: 2/3;
      grid-row: 2/3;
      justify-self: flex-end; } }

.blog__list {
  margin-bottom: 32px; }
  @media (min-width: 900px) {
    .blog__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px 16px;
      margin-bottom: 40px; } }

.blog__item {
  box-shadow: 1px 1px 12px rgba(71, 71, 71, 0.03);
  border-radius: 5px; }
  .blog__item img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 16px; }
    @media (min-width: 900px) {
      .blog__item img {
        margin-bottom: 24px;
        max-width: 430px; } }
  .blog__item:not(:first-child) {
    display: none; }
    @media (min-width: 500px) {
      .blog__item:not(:first-child) {
        display: block; } }
  .blog__item:hover .blog__title {
    color: #3A98B2;
    transition: color 0.4s ease-out; }
  @media (min-width: 500px) {
    .blog__item:not(:last-child) {
      margin-bottom: 16px; } }

.blog__datetime {
  font-size: 14px;
  line-height: 23px;
  color: #5B6E76;
  margin-bottom: 4px;
  padding: 0 16px; }
  @media (min-width: 900px) {
    .blog__datetime {
      margin-bottom: 8px;
      padding: 0 24px; } }

.blog__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #142B35;
  margin: 0;
  padding: 0 16px; }
  @media (min-width: 900px) {
    .blog__title {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 16px;
      padding: 0 24px; } }

.blog__text {
  display: none;
  font-size: 16px;
  line-height: 27px;
  color: #5B6E76; }
  @media (min-width: 500px) {
    .blog__text {
      display: block;
      padding: 0 16px 16px 16px; } }
  @media (min-width: 900px) {
    .blog__text {
      padding: 0 24px 24px 24px; } }

.controls {
  width: 36px;
  display: grid;
  grid-template-columns: 6px 6px 6px;
  -moz-column-gap: 9px;
       column-gap: 9px;
  margin: 0 auto; }
  @media (min-width: 500px) {
    .controls {
      display: none; } }

.controls__button {
  border: none;
  max-width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E0E0E0;
  cursor: pointer; }
  .controls__button.current {
    background-color: #F2B91D; }

@media (min-width: 1200px) and (max-width: 1440px) {
  .page-footer {
    margin: 0; } }

.footer__list {
  margin-bottom: 40px;
  padding-top: 8px;
  position: relative; }
  @media (min-width: 900px) {
    .footer__list {
      margin-bottom: 0;
      padding-top: 16px;
      padding-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%; } }
  .footer__list::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
    top: 0;
    position: absolute; }

.footer__item {
  font-size: 12px;
  line-height: 20px;
  color: #142B35;
  opacity: 0.5; }

.break {
  display: none; }
  @media (min-width: 900px) {
    .break {
      display: block; } }

.map {
  margin-bottom: 40px; }
  @media (min-width: 900px) {
    .map {
      margin-bottom: 48px; } }

.map iframe {
  border: 0;
  width: 100%; }
  @media (min-width: 900px) {
    .map iframe {
      height: 543px; } }

/*# sourceMappingURL=style.css.map */
